<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.micmiu.mvc.ferriswheel.examples.core.mapper.BlogMapper" >
  <resultMap id="BaseResultMap" type="com.micmiu.mvc.ferriswheel.examples.core.entity.Blog" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="AUTHOR" property="author" jdbcType="VARCHAR" />
    <result column="CATEGORY" property="category" jdbcType="VARCHAR" />
    <result column="URL" property="url" jdbcType="VARCHAR" />
    <result column="PUBLISH_DATE" property="publishDate" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, TITLE, AUTHOR, CATEGORY, URL, PUBLISH_DATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from T_BLOG
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_BLOG
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.micmiu.mvc.ferriswheel.examples.core.entity.Blog" >
    insert into T_BLOG (ID, TITLE, AUTHOR, 
      CATEGORY, URL, PUBLISH_DATE
      )
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, 
      #{category,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{publishDate,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.micmiu.mvc.ferriswheel.examples.core.entity.Blog" >
    insert into T_BLOG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="author != null" >
        AUTHOR,
      </if>
      <if test="category != null" >
        CATEGORY,
      </if>
      <if test="url != null" >
        URL,
      </if>
      <if test="publishDate != null" >
        PUBLISH_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="publishDate != null" >
        #{publishDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.micmiu.mvc.ferriswheel.examples.core.entity.Blog" >
    update T_BLOG
    <set >
      <if test="title != null" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        AUTHOR = #{author,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        CATEGORY = #{category,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="publishDate != null" >
        PUBLISH_DATE = #{publishDate,jdbcType=DATE},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.micmiu.mvc.ferriswheel.examples.core.entity.Blog" >
    update T_BLOG
    set TITLE = #{title,jdbcType=VARCHAR},
      AUTHOR = #{author,jdbcType=VARCHAR},
      CATEGORY = #{category,jdbcType=VARCHAR},
      URL = #{url,jdbcType=VARCHAR},
      PUBLISH_DATE = #{publishDate,jdbcType=DATE}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>