<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.micmiu.mvc.ferriswheel.examples.core.mybatis.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="com.micmiu.mvc.ferriswheel.examples.core.mybatis.entity.Menu">
        <id column="ID" property="id" jdbcType="BIGINT"/>
        <result column="PARENT_ID" property="parentId" jdbcType="BIGINT"/>
        <result column="MENU_NAME" property="menuName" jdbcType="VARCHAR"/>
        <result column="ALIAS_NAME" property="aliasName" jdbcType="VARCHAR"/>
        <result column="MENU_URL" property="menuUrl" jdbcType="VARCHAR"/>
        <result column="MENU_TYPE" property="menuType" jdbcType="VARCHAR"/>
        <result column="ORDER_NUM" property="orderNum" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    ID, PARENT_ID, MENU_NAME, ALIAS_NAME, MENU_URL, MENU_TYPE, ORDER_NUM
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from T_MENU
        where ID = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from T_MENU
    where ID = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.micmiu.mvc.ferriswheel.examples.core.mybatis.entity.Menu">
    insert into T_MENU (ID, PARENT_ID, MENU_NAME, 
      ALIAS_NAME, MENU_URL, MENU_TYPE, 
      ORDER_NUM)
    values (#{id,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, #{menuName,jdbcType=VARCHAR}, 
      #{aliasName,jdbcType=VARCHAR}, #{menuUrl,jdbcType=VARCHAR}, #{menuType,jdbcType=VARCHAR}, 
      #{orderNum,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.micmiu.mvc.ferriswheel.examples.core.mybatis.entity.Menu">
        insert into T_MENU
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="parentId != null">
                PARENT_ID,
            </if>
            <if test="menuName != null">
                MENU_NAME,
            </if>
            <if test="aliasName != null">
                ALIAS_NAME,
            </if>
            <if test="menuUrl != null">
                MENU_URL,
            </if>
            <if test="menuType != null">
                MENU_TYPE,
            </if>
            <if test="orderNum != null">
                ORDER_NUM,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=BIGINT},
            </if>
            <if test="menuName != null">
                #{menuName,jdbcType=VARCHAR},
            </if>
            <if test="aliasName != null">
                #{aliasName,jdbcType=VARCHAR},
            </if>
            <if test="menuUrl != null">
                #{menuUrl,jdbcType=VARCHAR},
            </if>
            <if test="menuType != null">
                #{menuType,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                #{orderNum,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.micmiu.mvc.ferriswheel.examples.core.mybatis.entity.Menu">
        update T_MENU
        <set>
            <if test="parentId != null">
                PARENT_ID = #{parentId,jdbcType=BIGINT},
            </if>
            <if test="menuName != null">
                MENU_NAME = #{menuName,jdbcType=VARCHAR},
            </if>
            <if test="aliasName != null">
                ALIAS_NAME = #{aliasName,jdbcType=VARCHAR},
            </if>
            <if test="menuUrl != null">
                MENU_URL = #{menuUrl,jdbcType=VARCHAR},
            </if>
            <if test="menuType != null">
                MENU_TYPE = #{menuType,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                ORDER_NUM = #{orderNum,jdbcType=INTEGER},
            </if>
        </set>
        where ID = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.micmiu.mvc.ferriswheel.examples.core.mybatis.entity.Menu">
    update T_MENU
    set PARENT_ID = #{parentId,jdbcType=BIGINT},
      MENU_NAME = #{menuName,jdbcType=VARCHAR},
      ALIAS_NAME = #{aliasName,jdbcType=VARCHAR},
      MENU_URL = #{menuUrl,jdbcType=VARCHAR},
      MENU_TYPE = #{menuType,jdbcType=VARCHAR},
      ORDER_NUM = #{orderNum,jdbcType=INTEGER}
    where ID = #{id,jdbcType=BIGINT}
  </update>

    <select id="selectCountAll" resultType="java.lang.Integer">
    select count(1) from T_MENU
  </select>

</mapper>