<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.micmiu.mvc.ferriswheel.examples.core.mapper.PermissionMapper" >
  <resultMap id="BaseResultMap" type="com.micmiu.mvc.ferriswheel.examples.core.entity.Permission" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="ROLE_ID" property="roleId" jdbcType="BIGINT" />
    <result column="MENU_ID" property="menuId" jdbcType="BIGINT" />
    <result column="RES_NAME" property="resName" jdbcType="VARCHAR" />
    <result column="RES_CN_NAME" property="resCnName" jdbcType="VARCHAR" />
    <result column="OPERATION" property="operation" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ROLE_ID, MENU_ID, RES_NAME, RES_CN_NAME, OPERATION
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from T_PERMISSION
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_PERMISSION
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.micmiu.mvc.ferriswheel.examples.core.entity.Permission" >
    insert into T_PERMISSION (ID, ROLE_ID, MENU_ID, 
      RES_NAME, RES_CN_NAME, OPERATION
      )
    values (#{id,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT}, #{menuId,jdbcType=BIGINT}, 
      #{resName,jdbcType=VARCHAR}, #{resCnName,jdbcType=VARCHAR}, #{operation,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.micmiu.mvc.ferriswheel.examples.core.entity.Permission" >
    insert into T_PERMISSION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="roleId != null" >
        ROLE_ID,
      </if>
      <if test="menuId != null" >
        MENU_ID,
      </if>
      <if test="resName != null" >
        RES_NAME,
      </if>
      <if test="resCnName != null" >
        RES_CN_NAME,
      </if>
      <if test="operation != null" >
        OPERATION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="menuId != null" >
        #{menuId,jdbcType=BIGINT},
      </if>
      <if test="resName != null" >
        #{resName,jdbcType=VARCHAR},
      </if>
      <if test="resCnName != null" >
        #{resCnName,jdbcType=VARCHAR},
      </if>
      <if test="operation != null" >
        #{operation,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.micmiu.mvc.ferriswheel.examples.core.entity.Permission" >
    update T_PERMISSION
    <set >
      <if test="roleId != null" >
        ROLE_ID = #{roleId,jdbcType=BIGINT},
      </if>
      <if test="menuId != null" >
        MENU_ID = #{menuId,jdbcType=BIGINT},
      </if>
      <if test="resName != null" >
        RES_NAME = #{resName,jdbcType=VARCHAR},
      </if>
      <if test="resCnName != null" >
        RES_CN_NAME = #{resCnName,jdbcType=VARCHAR},
      </if>
      <if test="operation != null" >
        OPERATION = #{operation,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.micmiu.mvc.ferriswheel.examples.core.entity.Permission" >
    update T_PERMISSION
    set ROLE_ID = #{roleId,jdbcType=BIGINT},
      MENU_ID = #{menuId,jdbcType=BIGINT},
      RES_NAME = #{resName,jdbcType=VARCHAR},
      RES_CN_NAME = #{resCnName,jdbcType=VARCHAR},
      OPERATION = #{operation,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>